.buy-now-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .buy-now-button {
    background-color: #ff9f00;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
  }
  
  .buy-now-button:hover {
    background-color: #fb641b;
  }
  